/MagicPotionIdentifier/nbproject/private/
/MagicPotionIdentifier/build/
/MagicPotionIdentifier/dist/
/SneakyOutcomes/nbproject/private/
/SneakyOutcomes/build/
/SneakyOutcomes/dist/
/ReformatString/nbproject/private/
/OrganizeBooks/nbproject/private/
/OrganizeBooks/build/
/ReformatString/build/
/OrganizeBooks/dist/
/ReformatString/dist/
